<%- include('../layout/header.ejs') -%>

	<main class="main">
		<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
			<div class="container">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Login</a></li>
					<li class="breadcrumb-item active" aria-current="page">Register</li>
					<li class="breadcrumb-item active" aria-current="page">Otp</li>
				</ol>
			</div><!-- End .container -->
		</nav><!-- End .breadcrumb-nav -->

		<div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
			style="background-image: url('/user/images/demos/demo-10/banners/loginPage.jpg')">
			<div class="container">
				<div class="form-box">
					<div class="form-tab">
						<ul class="nav nav-pills nav-fill" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="signin-tab-2" data-toggle="tab" href="#signin-2"
									role="tab" aria-controls="signin-2" aria-selected="false">Forget Password</a>
							</li>

						</ul>
						<div class="tab-content">
							<div class="tab-pane fade show active" id="signin-2" role="tabpanel"
								aria-labelledby="signin-tab-2">
								<form action="/sentResetPass" method="Post">

									<div class="form-group">
										<label for="singin-otp"> Email Id</label>
										<input type="text" class="form-control" id="singin-email-2" name="email"
											placeholder="Enter Your Email Id" required>
									</div><!-- End .form-group -->


									<div class="form-footer">

										<button type="submit" id="verifying-button" class="btn btn-outline-primary-2">
											<span>Submit</span>
											<i class="icon-long-arrow-right"></i>
										</button>


									</div><!-- End .form-footer -->
								</form>
								<div class="form-choice">
									<p class="text-center">BACK</p>
									<div class="row">

									</div><!-- End .row -->
								</div><!-- End .form-choice -->
							</div><!-- .End .tab-pane -->

						</div><!-- End .tab-content -->
					</div><!-- End .form-tab -->
				</div><!-- End .form-box -->
			</div><!-- End .container -->
		</div><!-- End .login-page section-bg -->
	</main><!-- End .main -->




	<%- include('../layout/footer.ejs') -%>